<script src="/assets/javascripts/jquery-1.9.0.min.js"></script>

<script>
    var milliseconds = null;

    function startTimer(display) {
        return setInterval(function() {
          milliseconds = milliseconds + 10;
          seconds = parseInt(milliseconds / 1000);
          millis = milliseconds % 1000;

          var secondsDisplay = seconds < 10 ? "0" + seconds : seconds;
          var millisDisplay;
          if (millis < 100) {
              millisDisplay = "0" + millis;
          } else if (millis < 10) {
              millisDisplay = "00" + millis;
          } else {
              millisDisplay = millis;
          }

          display.text(secondsDisplay + "." + millisDisplay);
        }, 10)
    }


    var isStarted = false;
    var timerFunction = null;
    $(document).keydown(function(event) {
        if (event.keyCode == 32) {
            jQuery(function ($) {
                if (isStarted) {
                    isStarted = false;
                    clearInterval(timerFunction);
                    var username = $('#username').val();
                    $.postJSON("http://localhost:9000/time", {user: username, millis: milliseconds});
                } else {
                    isStarted = true;
                    milliseconds = 0;
                    var display = $('#time');
                    timerFunction = startTimer(display);
                }
            });
        }
    });

    $.postJSON = function(url, data, callback) {
        return jQuery.ajax({
            'type': 'POST',
            'url': url,
            'contentType': 'application/json',
            'data': JSON.stringify(data),
            'success': callback
        });
    };


</script>

<div style="font-size:150px; font-weight: bold; text-align:center; margin-bottom:0" id="time">00.000</div>
<div style="font-size:38px">Username: <input id="username" type="text" value="Michal"/></div>